html{
  scroll-behavior: smooth;
  color: black;
}
@font-face {
  font-family: "clasicastriped";
  src: url("Clasica Striped by Marta van EckDEMO.ttf");
 }
body{
height: auto;
background-image: url(alphamegabgwood-min.jpg);
margin: 0;
text-align: center;
display: block;
}
header{
  height: 300px;
}
header .share{
  position: absolute;
  top: 120px;
  right: 30px;
}
.bandeau{
  width: 100%;
  height: auto;
  background-color: bisque;
  display: flex;
  justify-content: space-around;
}
.bandeau img{
  height: 60px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  color: dimgray;
  font-family: arial;
  letter-spacing: 2px;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  line-height: 60px;
  text-align: left;
}
h2{
  color: rgb(58, 49, 30);
  font-family: clasicastriped;
  font-weight: lighter;
  font-size: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 70px;
}
.bouttonnav{
  position: absolute;
  left: 6%;
  transform: translateX(-50%);
  text-align: center;
  visibility: visible;
  top: 120px;
  text-align: center;
  z-index: 10;
}
.barre{
  width: 55px;
  height: auto;
  background-color: transparent;
  margin-top: 8px;
}
#barre2{
  margin-top: 3px;
}
#barre3{
  width: 30px;
}
.croix #barre1{
  transform: rotate(45deg);
  transition: 0.2s;
}
.croix #barre2{
  visibility: hidden;
}
.croix #barre3{
  width: 55px;
  transform: rotate(-45deg) translateY(-20px) translateX(20px);
  transition: 0.2s;
}
.la{
  color: rgb(58, 49, 30);
  font-family: clasicastriped;
  font-weight: lighter;
  font-size: 50px;
  background-color: transparent;
  line-height: 100px;
}
.bouttonnav{
  cursor: pointer;
}
nav{
  visibility: hidden;
  width: 100%;
  height: auto;
  text-align: left;
  position: absolute;
  top: 80px;
  z-index: 6;
  padding-top: 180px;
}
.montrenav{
  visibility: visible;
  background-color: rgba(355, 245, 230, 0.90);
  height: 100%;
  margin-top: 0;
}
ul{
 width: 600px;
 align-items: left;
 padding: 0;
 display: grid;
 margin: auto;
}
li{
  list-style: none;
  margin-bottom: 150px;
}
a{
  text-decoration: none;
  color: rgb(59, 51, 40);
  font-family: clasicastriped;
  font-size: 42px;
  letter-spacing: 2px;
  transition-duration: 0.2s;
}
a:hover{
  scale: 1.05;
}
nav a{
  color: rgb(0, 0, 0);
}
@keyframes haut{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0);
  }
}
.action{
  width: 100%;
  margin-top: 240px;
  padding-bottom: 120px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  color: bl;
  font-size: 2rem;
}

button span {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}
.slidernav{
  visibility: visible;
  padding-top: 900px;
  margin: 0;
  width: 894px;
}
.slidernav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  position: relative;
}
.previous{
  position: absolute;
  left: -3%;
}
.next{
  position: absolute;
  right: 6%;
}
.hiddenarrow{
  visibility: hidden;
}
.slidernav li {
  display: flex;
  flex: 2;
  text-align: center;
}

.slider img {
  height: 1200px;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fadeImg 0.8s;
}

.slidernav .arrow {
  flex: 0 0 15%;
}

.slidernav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slidernav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.arrow img{
  width: 120px;
  display: initial;
}
.argumentaire{
  text-align: justify;
  width: 90%;
  margin-left: 5%;
  margin-top: 60px;
  line-height: 30px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
.warning{
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 142px;
}
.cta{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 42px;
  background-color: #3f3935;
  border: none;
  padding: 24px;
  border-radius: 24px;
  color: whitesmoke;
  margin-top: 30px;
}
#mailcta{
  display: none;
  position: absolute;
  visibility: hidden;
}
.txtproduits{
  width: 100%;
  font-size: 60px;
  margin-top: 300px;
}
.produit{
  width: auto;
  height: auto;
  margin-top: 50px;
}
.produit img{
  height: 60%;
  width: auto;
}
.produit p img{
  width: 90px;
  height: auto;
}
.produit p{
  width: 50%;
  margin-left: 25%;
  font-family: arial;
  font-weight: bold;
  font-size: 42px;
  margin-top: 240px;
}
.illu{
  width: 600px;
  height: auto;
  margin-left: 12px;
  border-radius: 1000px;
}
.imgactu {
  width: 80%;
  height: auto;
  border-radius: 30px;
}
.actualites p{
  width: 80%;
  margin-left: 10%;
  text-align: left;
}
.share{
  width: 60px;
  margin: 30px;
}
footer{
  display: block;
  height: auto;
  background-color: rgb(58, 49, 30);
  color: white;
  border-top: 2px solid #9e8e85;
  text-align: center;
  padding-top: 120px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer h3, footer a{
  color: white;
  font-size: 14px;
}
#underline{
  text-decoration: underline;
  text-underline-offset: 9px;
}
.footerline{
  width: 100%;
}
.footerline img{
  width: 240px;
  margin-left: 12px;
  margin-right: 12px;
  height: auto;
}
footer a{
  font-family: arial;
}
@media screen and (min-width: 1000px){
  header{
    height: 60px;
  }
  .bandeau{
    width: 40%;
    margin-left: 50%;
    padding-left: 30%;
    padding-right: 30%;
    transform: translateX(-50%);
    border-radius: 30px;
  }
  .bandeau img{
    height: 21px;
    width: auto;
    margin-top: 3px;
    margin-bottom: 3px;
  }
   .txtlogo{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 24px;
    line-height: 16px;
   }
   .la{
    font-size: 15px;
    line-height: 24px;
   }
   .bouttonnav{
    visibility: hidden;
   }
   nav{
    visibility: visible;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding-top: 6px;
    padding-bottom: 6px;
    top: 27px;
   }
   .slidernav{
    visibility: hidden;
    padding-top: 540px;
    width: 420px;
    transform: translateX(-21px);
   }
   .arrow{
    visibility: visible;
   }
   .arrow img{
    width: 42px;
   }
   nav a{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-right: 6px;
    transition: 0.2s ease-in-out;
   }
   nav a:hover{
    font-size: 12px;
   }
   ul{
    width: auto;
    margin: 0;
    display: initial;
    display: flex;
   }
   li{
    margin: 0;
   }
   h1{
    position: absolute;
    left: 77%;
    margin-left: 0;
    padding-left: 0;
    top: 240px;
    width: 480px;
    line-height: 42px;
    text-align: left;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
   }
   .argumentaire{
    position: absolute;
    left: 49%;
    top: 420px;
    text-align: justify;
    width: 450px;
    line-height: 30px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .action{
    margin-top: 120px;
   }
   video{
    width: 600px;
    border-radius: 30px;
    margin-bottom: 120px;
    margin-top: 60px;
   }
   .share{
    visibility: hidden;
   }
   .slider img{
    width: 210px;
    height: auto;
    margin-left: 21%;
   }
   .cta{
    visibility: hidden;
    display: none;
   }
   #mailcta{
    display: initial;
    visibility: visible;
    display: initial;
    left: 50%;
    transform: translateX(-50%);
    top: 990px;
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 15px;
    transition: 0.2s;
   }
   #mailcta:hover{
    cursor: pointer;
    transform: translateX(-50%) scale(1.05);
   }
   #responsivecta{
    visibility: visible;
    font-size: 18px;
    display: initial;
    padding: 12px;
    transition: 0.2s;
   }
   #responsivecta:hover{
    transform: scale(1.05);
   }
   .descta{
    font-size: 15px;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 12px;
    line-height: 24px;
   }
   #crop{
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 97%);
   }
   .txtproduits, .histoire h2, .actualites h2{
    font-size: 30px;
   }
   .actualites h2{
    margin-bottom: 30px;
   }
   .histoire h2{
    margin-bottom: 42px;
   }
   .produit p{
    font-size: 24px;
    width: 240px;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
   }
   .produit img{
    height: 360px;
   }
   .illu{
    width: 300px;
   }
   .produit p img{
    width: 30px;
   }
   .histoire{
    padding: 0;
    width: 720px;
    margin-left: 50%;
    transform: translateX(-50%);
   }
   .histoire p{
    line-height: 30px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
   }
   .gerantes{
    width: 60%;
    margin-left: 0;
    height: auto;
   }
   .actualites{
    padding-top: 0;
   }
   .carousselactu{
    display: flex;
    justify-content: space-around;
   }
   .actualite{
    width: 420px;
    padding-bottom: 30px;
   }
   .share{
    width: 42px;
   }
   footer{
    padding-top: 30px;
    display: flex;
    position: relative;
    padding-bottom: 120px;
   }
   footer h3{
    font-size: 18px;
   }
   .infos{
    width: 49%;
    margin-bottom: 60px;
   }
   .partners{
    width: 40%;
   }
   .footerline{
    display: flex;
    justify-content: space-around;
   }
   .footerline img{
    width: 30%;
   }
   .end{
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 49%;
    text-align: center;
   }
}

@media screen and (min-width: 1270px){
  video{
    width: 900px;
  }
  nav a{
    font-size: 13px;
    padding-left: 12px;
  }
  nav a:hover{
    font-size: 15px;
  }
  h1{
    top: 690px;
    left: 50%;
    transform: translateX(-450px);
  }
  #mailcta{
    top: 1119px;
  }
  .caroussel{
    display: flex;
    justify-content: space-around;
  }
  .produit{
    margin-top: 0;
  }
  .produit img{
    height: 240px;
  }
  .produit p{
    font-size: 21px;
    margin-top: 0;
  }
  .histoire{
    margin-top: 210px;
  }
  .actualites{
    margin-top: 210px;
    margin-bottom: 60px;
  }
  .actualites a{
    display: none;
  }
}
@media screen and (min-width: 1570px){
  .produit img{
    height: 300px;
  }
  .end{
    bottom: initial;
    top: 300px;
  }
  .footerline img{
    width: 24%;
  }
}
@media screen and (min-width: 1700px){
  .produit img{
    height: 360px;
  }
}
